/EcoSystem (1)/EcoSystem/build/
/EcoSystem (1)/EcoSystem/dist/
/EcoSystem (1)/EcoSystem/nbproject/private/
/IntElligent_MediBuddy/EcoSystem/build/
/IntElligent_MediBuddy/EcoSystem/dist/
/IntElligent_MediBuddy/EcoSystem/nbproject/private/
/IntElligent_MediBuddy/Intelligent_Medibuddy/nbproject/private/
/Intelligent_MediBuddy/Intelligent_Medibuddy/nbproject/private/
/Intelligent_MediBuddy/Intelligent_Medibuddy/build/
/Intelligent_MediBuddy/Intelligent_Medibuddy/dist/